######################
# Managed by Ansible #
######################

#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------

data_directory = '{{ data_directory }}'
hba_file = '{{ hba_file }}'
ident_file = '{{ ident_file }}'
external_pid_file = '{{ external_pid_file }}'