######################
# Managed by Ansible #
######################

#------------------------------------------------------------------------------
# REPORTING AND LOGGING
#------------------------------------------------------------------------------

{% if log_destination is defined %}
log_destination = '{{ log_destination }}'
{% endif -%}

{% if logging_collector is defined %}
logging_collector = {{ logging_collector }}
{% endif -%}

{% if log_directory is defined %}
log_directory = '{{ log_directory }}'
{% endif -%}

{% if log_filename is defined %}
log_filename = '{{ log_filename }}'
{% endif -%}

{% if log_file_mode is defined %}
log_file_mode = {{ log_file_mode }}
{% endif -%}

{% if log_rotation_age is defined %}
log_rotation_age = {{ log_rotation_age }}
{% endif -%}

{% if log_rotation_size is defined %}
log_rotation_size = {{ log_rotation_size }}
{% endif -%}

{% if log_truncate_on_rotation is defined %}
log_truncate_on_rotation = {{ log_truncate_on_rotation }}
{% endif -%}

{% if syslog_facility is defined %}
syslog_facility = '{{ syslog_facility }}'
{% endif -%}

{% if syslog_ident is defined %}
syslog_ident = '{{ syslog_ident }}'
{% endif -%}

{% if syslog_sequence_numbers is defined %}
syslog_sequence_numbers = {{ syslog_sequence_numbers }}
{% endif -%}

{% if syslog_split_messages is defined %}
syslog_split_messages = {{ syslog_split_messages }}
{% endif -%}

{% if event_source is defined %}
event_source = '{{ event_source }}'
{% endif -%}

{% if log_min_messages is defined %}
log_min_messages = '{{ log_min_messages }}'
{% endif -%}

{% if log_min_error_statement is defined %}
log_min_error_statement = '{{ log_min_error_statement }}'
{% endif -%}

{% if log_min_duration_statement is defined %}
log_min_duration_statement = {{ log_min_duration_statement }}
{% endif -%}

{% if log_min_duration_sample is defined %}
log_min_duration_sample = {{ log_min_duration_sample }}
{% endif -%}

{% if log_statement_sample_rate is defined %}
log_statement_sample_rate = {{ log_statement_sample_rate }}
{% endif -%}

{% if log_transaction_sample_rate is defined %}
log_transaction_sample_rate = {{ log_transaction_sample_rate }}
{% endif -%}

{% if debug_print_parse is defined %}
debug_print_parse = {{ debug_print_parse }}
{% endif -%}

{% if debug_print_rewritten is defined %}
debug_print_rewritten = {{ debug_print_rewritten }}
{% endif -%}

{% if debug_print_plan is defined %}
debug_print_plan = {{ debug_print_plan }}
{% endif -%}

{% if debug_pretty_print is defined %}
debug_pretty_print = {{ debug_pretty_print }}
{% endif -%}

{% if log_autovacuum_min_duration is defined %}
log_autovacuum_min_duration = {{ log_autovacuum_min_duration }}
{% endif -%}

{% if log_checkpoints is defined %}
log_checkpoints = {{ log_checkpoints }}
{% endif -%}

{% if log_connections is defined %}
log_connections = {{ log_connections }}
{% endif -%}

{% if log_disconnections is defined %}
log_disconnections = {{ log_disconnections }}
{% endif -%}

{% if log_duration is defined %}
log_duration = {{ log_duration }}
{% endif -%}

{% if log_error_verbosity is defined %}
log_error_verbosity = '{{ log_error_verbosity }}'
{% endif -%}

{% if log_hostname is defined %}
log_hostname = {{ log_hostname }}
{% endif -%}

{% if log_line_prefix is defined %}
log_line_prefix = '{{ log_line_prefix }}'
{% endif -%}

{% if log_lock_waits is defined %}
log_lock_waits = {{ log_lock_waits }}
{% endif -%}

{% if log_recovery_conflict_waits is defined %}
log_recovery_conflict_waits = {{ log_recovery_conflict_waits }}
{% endif -%}

{% if log_parameter_max_length is defined %}
log_parameter_max_length = {{ log_parameter_max_length }}
{% endif -%}

{% if log_parameter_max_length_on_error is defined %}
log_parameter_max_length_on_error = {{ log_parameter_max_length_on_error }}
{% endif -%}

{% if log_statement is defined %}
log_statement = {{ log_statement }}
{% endif -%}

{% if log_replication_commands is defined %}
log_replication_commands = {{ log_replication_commands }}
{% endif -%}

{% if log_temp_files is defined %}
log_temp_files = {{ log_temp_files }}
{% endif -%}

{% if log_timezone is defined %}
log_timezone = '{{ log_timezone }}'
{% endif -%}