[Unit]
Description=Disable Transparent Huge Pages (THP)

[Service]
Type=simple
ExecStart=/bin/sh -c "echo 'never' > {{ thp_sys_path }}/enabled && echo 'never' > {{ thp_sys_path }}/defrag"

[Install]
WantedBy=multi-user.target