# PostgreSQL Client Authentication Configuration File
# ===================================================

# Database administrative login by Unix domain socket
local   all             postgres                                peer

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 local connections:
host    all             all             127.0.0.1/32            scram-sha-256
# IPv6 local connections:
host    all             all             ::1/128                 scram-sha-256
# Allow replication connections from localhost, by a user with the
# replication privilege.
local   replication     all                                     peer
host    replication     all             127.0.0.1/32            scram-sha-256
host    replication     all             ::1/128                 scram-sha-256

{% for item in hostvars.values() %}
host    all             all             {{ item.ansible_all_ipv4_addresses | ipaddr('private') | first }}/32            trust
{% endfor %}

{% for item in pg_hba_rules %}
{{ item.connection }}   {{ item.database }}     {{ item.user }}     {{ item.address }}      {{ item.auth_method }} 
{% endfor %}
